{# src/JOBEET/PlatformBundle/Resources/views/Advert/view.html.twig #}

{% extends "JOBEETPlatformBundle::layout.html.twig" %}

{% block title %}
	Lecture d'une annonce - {{ parent() }}
{% endblock %}

{% block jobeetplatform_body %}

	{# On vérifie qu'une image soit bien associée à l'annonce #}
	{% if advert.image is not null %}
		<img
		src="{{ asset(advert.image.webPath) }}"
		alt="{{ advert.image.alt }}"
		/>
	{% endif %}

	<h2>{{ advert.title }}</h2>
	<h3>La couleur est  : {{ advert.color.name }}</h3>
	<i>Par {{ advert.author }}, le {{ advert.date|date('d/m/Y') }}</i>

	<div class="well">
		{{ advert.content }}
	</div>
	<h3>Listes des applications pour cette annonce : </h3>
	<div class="well">
		<ul>
			{% for app in listApplications %}
				<li> <b> {{ app.author }} </b> : {{ app.content }} - <small> {{ app.date|date('Y-m-d') }} </small></li>
			{% else %}
				<li>Pas d'applications trouvées.</li>
			{% endfor %}
		</ul>
	</div>

	{% if not advert.categories.empty %}
		<p>
			Cette annonce est parue dans les catégories suivantes :
			{% for category in advert.categories %}
				{{ category.name }}{% if not loop.last %}, {% endif %}
			{% endfor %}
		</p>
	{% endif %}


	{% if listAdvertSkills|length > 0 %}
		<div>
			Cette annonce requiert les compétences suivantes :
			<ul>
				{% for advertSkill in listAdvertSkills %}
					<li>{{ advertSkill.skill.name }} : niveau {{ advertSkill.level }}</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}

	<p>
		<a href="{{ path('jobeet_platform_home') }}" class="btn btn-default">
			<i class="glyphicon glyphicon-chevron-left"></i>
			Retour à la liste
		</a>
		<a href="{{ path('jobeet_platform_edit', {'id': advert.id}) }}" class="btn btn-default">
			<i class="glyphicon glyphicon-edit"></i>
			Modifier l'annonce
		</a>
		<a href="{{ path('jobeet_platform_delete', {'id': advert.id}) }}" class="btn btn-danger">
			<i class="glyphicon glyphicon-trash"></i>
			Supprimer l'annonce
		</a>
		<a href="{{ path('jobeet_platform_apply', {'id': advert.id}) }}" class="btn btn-success">
			<i class="glyphicon glyphicon-check"></i>
			Postuler
		</a>
	</p>

{% endblock %}